<%= link_to "New User", new_admin_user_path %>
<ul id='users'>
  <% @users.each do |user| %>
    <!-- passing array in link_to makes sure we use admin_user_path -->
    <!-- instead of user_path -->
    <li><%= link_to user.email, [:admin, user] %></li>
  <% end %>
</ul>